body{
  font-family: 'Exo', sans-serif;
}
.jumbotron{
  background-image: url('../img/pizza.jpeg');
  height: 450px;
  background-size: cover;
  font-size: 10px;
}
a:active {
  background-color: pink;
}
li{
  display:inline-block;
}
nav ul{
  padding-left: 300px;
  margin: 0px;
  display:inline-block;
  vertical-align:top;
}
nav li{
  display:inline-block;
  font-size: 22px;
  font-family: 'Exo', sans-serif;
  margin-left: 30px;
}
nav>ul>li>a {
  padding: 4px;
  margin-right: 0;
  text-transform: uppercase;
  display: block;
  color: white;
}
nav>ul>li>a:hover {
  background: #F57F17;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
/* nav>ul>li>a:focus {
  width: 200px;
  text-decoration: none;
} */
.navig{
  float: left;
}
.logo{
  height: 150px;
  width: 300px;
}
form{
  margin-left:300px;
}
input[type=text] {
  width: 45%;
  padding: 12px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 10px;
  font-family: 'Exo', sans-serif;
  font-size: 15px;
}
button {
  padding: 12px;
  border: 1px solid grey;
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: 'Exo', sans-serif;
  font-size: 15px;

}
.intro{
  text-align: center;
  color: white;
  font-size: 40px;
  margin: 50px;
}
span{
  color: #F57F17;
}
.forder{
  width: 600px;
}

#navig
{
  margin-top:15px;
}

#navig ul
{
  list-style:none;
  position:relative;
  float:right;
  margin:0;
  padding:10px;
}

#navig ul a
{
  display:block;
  color:white;
  text-decoration:none;
  font-weight:700;
  font-size:20px;
  line-height:32px;
  padding:0 15px;
  font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Exo', sans-serif;
}

#navig ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#navig ul li.current-menu-item
{
  background:#ddd;
}

#navig ul li:hover
{
  background:#f6f6f6
}

#navig ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
}

#navig ul ul li
{
  float:none;
  width:200px;
  background-color:#F57F17;

}

#navig ul ul a
{
  line-height:120%;
  padding:10px 15px;
  color: black;
}

#navig ul ul ul
{
  top:0;
  left:100%
}
#navig ul ul ul:hover
{
  background-color: green;
}
#navig ul li:hover > ul
{
  display:block
}



a:active {
  background-color: pink;
}
li{
  display:inline-block;
}
nav ul{
  padding-left: 300px;
  margin: 0px;
  display:inline-block;
  vertical-align:top;
}
nav li{
  display:inline-block;
  font-size: 22px;
  font-family: 'Exo', sans-serif;
  margin-left: 30px;
}
nav>ul>li>a {
  padding: 4px;
  margin-right: 0;
  text-transform: uppercase;
  display: block;
  color: white;
}
nav>ul>li>a:hover {
  background: #F57F17;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.navig{
  float: left;
}
